.detail {
  flex: 1;
  text-align: center;
}
.detail_id,
.detail_price {
  font-weight: 700;
  font-size: 20px;
}
.detail_btn {
  margin-top: 10px;
  font-size: 20px;
  font-weight: 700;
}
